@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --body: #f8f8fb;
  --primary: #059ed4;
  --primary-light: #495057;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-start-rgb: 172, 57, 253;
  --background-end-rgb: 138, 58, 254;
  --background-search-gray: 237, 238, 241;
  --text-placeholder-gray: 61, 66, 79;
  --table-background-gray: 237, 238, 241;
}

body {
  background-color: var(--body);
}

/* // ::-webkit-scrollbar {
//   width: 5px;
//   height: 8px;
//   color: var(--primary-light);
//   background-color: var(--body) !important;
// } */

@layer utilities {
  .menu-item {
    @apply w-full hover:bg-custom-primary-main px-5 py-3 select-none text-content-primary hover:text-black text-sm cursor-pointer transition-colors;
  }

  .active-menu {
    @apply bg-custom-primary-main text-white hover:text-white relative after:absolute after:w-2 after:h-full font-medium;
  }

  .inActive-menu:hover svg path {
    @apply bg-custom-primary-main text-black;
  }

  .inActive-menu {
    @apply text-content-primary hover:text-black relative;
  }

  .inactive-submenu {
    @apply text-content-primary hover:text-white relative;
  }

  .hover-multi-menu:hover .hover-menu-open {
    @apply absolute block;
  }

  .svg_active svg,
  .svg_active path {
    @apply stroke-custom-primary-main;
  }

  .svg_active_white svg,
  .svg_active_white path {
    @apply stroke-white;
  }

  .skeleton {
    @apply bg-gray-300 rounded-xl animate-pulse duration-100;
  }

  /* // Skeleton loading */
  .skeleton_table {
    @apply bg-gray-300 h-3 rounded-xl animate-pulse duration-100;
  }

  .skeleton_table_tr {
    @apply border-0 border-table-background-gray border-b;
  }
}

@layer components {
  .primary-scrollbar {
    @apply overflow-y-scroll scrollbar scrollbar-thumb-gray-400 scrollbar-track-white scrollbar-w-1;
  }
  .primary-scrollbar-horizontal {
    @apply overflow-x-scroll scrollbar scrollbar-thumb-borderClr-gray scrollbar-track-gray-100 scrollbar-h-1;
  }

  .button_primary {
    @apply rounded-md md:px-4 px-3 md:py-3 py-2 bg-custom-primary-main hover:bg-custom-primary-main duration-100 text-white flex items-center gap-1 justify-center;
  }

  .button_sm_primary {
    @apply rounded-md md:px-2 px-1 md:py-[6px] bg-custom-primary-main hover:bg-custom-primary-main duration-100 text-white flex items-center gap-1 justify-center;
  }

  .button_primary_outline {
    @apply rounded-md md:px-4 px-3 md:py-3 py-2 border border-custom-primary-main hover:bg-custom-primary-main hover:text-white text-custom-primary-main flex items-center gap-1 justify-center;
  }

  .button_sm_primary_outline_base {
    @apply rounded-md md:px-2 px-1 md:py-[6px] border-custom-primary-main hover:bg-custom-primary-main hover:text-white text-custom-primary-main flex items-center gap-1 justify-center duration-300;
  }
  .button_sm_primary_outline {
    @apply border-[2px] font-semibold button_sm_primary_outline_base;
  }

  .button_danger {
    @apply rounded-md md:px-4 px-3 md:py-3 py-2 bg-red-500 hover:bg-red-600 text-white flex items-center gap-1 justify-center;
  }

  .button_sm_danger {
    @apply rounded-md md:px-2 px-1 md:py-[6px] bg-red-500 hover:bg-red-600 text-white flex items-center gap-1 justify-center;
  }
  .button_success {
    @apply rounded-md md:px-4 px-3 md:py-3 py-2 bg-green-500 hover:bg-green-600 text-white flex items-center gap-1 justify-center;
  }

  .table_th {
    @apply px-6 py-3 whitespace-nowrap;
  }

  .table_tr {
    @apply h-max bg-white border-b;
  }

  .table_td {
    @apply px-6 py-4 whitespace-nowrap;
  }

  .check_box {
    @apply w-4 h-4 text-custom-primary-main bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-custom-primary-main focus:ring-1;
  }

  .dropdown_filter {
    @apply flex justify-center items-center border bg-white px-3 py-2 rounded-lg cursor-pointer;
  }
  .dropdown_filter_extraClass {
    @apply min-w-[250px];
  }

  .dropdown_filter_listItemClass {
    @apply bg-white hover:bg-primary-light px-0 rounded-none hover:rounded-none mb-0;
  }

  .input_filed {
    @apply w-full h-full py-2 outline-none text-gray-600 text-sm placeholder:text-gray-500;
  }

  .capsule {
    @apply rounded-full px-2 py-1;
  }

  .table_edit {
    @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
  }
  .table_remove {
    @apply font-medium text-red-600 dark:text-red-500 hover:underline;
  }

  .page_content {
    @apply pt-[60px] md:pt-[90px] pb-[80px] px-[24px] container mx-auto;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  /* color: #0e9dd181; */
}

.quill {
  border: none !important;
}

.quill p {
  word-break: break-all;
}

.ql-toolbar {
  margin-top: auto;
  border: none !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: #7d7d7d !important;
}

.quill ul,
.quill ol {
  margin-left: 20px;
}

.quill ul li {
  list-style: disc !important;
}

.quill ol {
  margin-left: 30px;
}

.quill ol li {
  list-style: decimal !important;
}

.quill p {
  word-break: break-all;
}

.rti--container {
  border-color: var(--black);
  box-shadow: none;
}

.rti--container:focus-within {
  border-color: var(--black);
  box-shadow: none;
}
